body {
  font-family: Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

h1 {
  margin-bottom: 10px;
  font-weight: 100;
}

#category-list {
  position: absolute; /* Allows placement on the right */
  right: 0; /* Aligns it to the right edge */
  width: 30%; /* Sets the width */
  top: 10%; /* Adjust the top position */
  z-index: 9; /* Makes sure it's above other elements */
}

#category-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#category-list li {
  border-top: 2px solid black; 
  border-left: 2px solid black;
  padding: 0; /* Adds spacing between items */
  text-align: right;
}

#category-list li:last-child {
  width: 100%; /* Full width for the last item */
  margin-left: 0;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}

#years-list {
  margin-top: 1px; /* Pushes the years list down to avoid overlap with the category list */
  margin-bottom: 10px;
  margin-left: 5%;
  margin-right: 0;
  z-index: 6;
}

#years-list ul {
  list-style-type: none;
  padding: 10px;
  display: flex; /* Use flexbox to organize list items horizontally */
  flex-wrap: wrap; /* Allow items to wrap if they overflow */
  justify-content: space-evenly;
  gap: 20px; /* Add spacing between items */
  font-size: 42px;
  width: 90%;
}

#years-list ul:last-child {
  justify-content: start;
}

#years-list li:hover {
  color: #1f2021;
  text-decoration: underline;
}
  
.year-item {
  cursor: pointer;
  margin: 0; /* Corrected from 'none' */
  padding: 0; /* Corrected from 'none' */
  color: black;
  position: relative; /* Fixed positioning */
  font-size: 42px;
}

.year-item:hover {
  color: #1f2021;
  text-decoration: underline;
}

#years {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap onto the next line */
  gap: 30px; /* Spacing between items */
  list-style-type: none; /* Remove default list styling */
  padding: 0;
}

#years li {
  padding: 8px 12px;
  background-color: #f0f0f0;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
  margin: 10px 0;
}

#years li:hover {
  background-color: #d0d0d0;
}

#error-message {
  color: red;
}

.black-line {
  border: none; /* Remove default border styling */
  border-top: 2px solid black; /* Define the thickness and color */
  width: 100%; /* Make it span across the entire screen */
  margin-top: 157px; /* Adds spacing between the content and the black line */
  z-index: 5;
}

.unstyled-link {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  background: none;
  border: none;
}

.unstyled-link:hover {
  text-decoration: underline;
}
  

button {
  background: none;
  border: none;
  color: black;
  padding: 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  z-index: 8;
}
